<h2><%= t('app.text.events') %></h2>

<div class="buffer-both">
  <%= link_to t('app.buttons.new_event'), new_event_path, class: 'btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <%# Рендерим сразу массив событий, каждый в паршиале 'events/event' %>
  <%# если паршал называется event, то в паршал передается локальная переменная с названием этого паршлала%>
  <%= render partial: 'events/event', collection: @events %>
</div>
